# Berlin Building Industry yearly (source-aligned) - Sample Notebook

## Explore data

In [1]:
import pandas as pd

# Read csv file
dataframe = pd.read_csv(
    "./data/02-silver/berlin-building-industry-2023-00/berlin-building-industry-2023-00-9-key-figures-second-quarter-by-employee-size-categories.csv"
)

In [2]:
# Display 5 first rows
dataframe.head()

  employee_size_category  ...  turnover_previous_year_building_industry
0               unter 20  ...                                   1097820
1              20 bis 49  ...                                   1305584
2            50 und mehr  ...                                   1697548

[3 rows x 6 columns]

In [3]:
# Display dataframe info
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   employee_size_category                    3 non-null      object
 1   companies                                 3 non-null      int64
 2   employees                                 3 non-null      int64
 3   salaries                                  3 non-null      int64
 4   turnover_previous_year_total              3 non-null      int64
 5   turnover_previous_year_building_industry  3 non-null      int64
dtypes: int64(5), object(1)
memory usage: 276.0+ bytes

In [4]:
# Describe dataframe
dataframe.describe()

        companies  ...  turnover_previous_year_building_industry
count    3.000000  ...                              3.000000e+00
mean   337.666667  ...                              1.366984e+06
std    262.301989  ...                              3.045421e+05
min     88.000000  ...                              1.097820e+06
25%    201.000000  ...                              1.201702e+06
50%    314.000000  ...                              1.305584e+06
75%    462.500000  ...                              1.501566e+06
max    611.000000  ...                              1.697548e+06

[8 rows x 5 columns]